@media only screen and (max-device-width: 480px) {
    html, body {
        height: 100%;
        width: 100%;
    }
    .wrapContent {
        height: 100%;
        width: 100%;
    }
    * {
        box-sizing: border-box;
    }
    .aboutPage {
        height: 45%;
        padding: 0;
        margin: 0;
        background-color: white;
        border-top: 2px solid #006666;
        border-bottom: 3px solid #006666;
    }
    .aboutContainer {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: white;
    }

    .carousel {
        background-color: white;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }
    .aboutPage .flickity-viewport {
        background-color: white;
    }
    .aboutContainer .carousel-cell {
        height: 100%;
        padding: 0;
        counter-increment: carousel-cell;
        background-color: white;
        width: 70%;
        margin-left: 15%;
        text-align: center;
        font-family: "Segoe UI", sans-serif;
    }

    .aboutContainer > .carousel-cell:before {
        display: block;
        content: counter(carousel-cell);
        color:white;
        margin-left: 40px;
        margin-right: 40px;
    }

    #aboutText {
        margin-top: 10%;
        font-size: 30px;
    }
    #quote {
        margin-top: 5%;
        font-size: 16px;
    }
    .lineBreak {
        width: 50%;
        margin-left: 25%;
        height: 3px;
        background-color: #006666;
        margin-top: 10%;
    }

    #quote #author {
        font-size: 22px;
        margin-top: 7%;
    }
}