html, body {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    height: 400%;
}
*{box-sizing: border-box;}
.aboutContainer {
    background-color: white;
    font-family: "Segoe UI";
    border-top: 2px solid #006666;
    border-bottom: 2px solid #006666;
    height: 50%;
}
.aboutContainer > .carousel {
    background-color: white;
}
.aboutContainer > .carousel-cell {
    background-color: white;
    counter-increment: carousel-cell;
    color: white;
}
.aboutContainer > .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    color: white;
}
#aboutText {
    color: white;
}
#aboutText #txt {
    text-align: center;
    color: black;
}
#quote {
    color: white;
}
#quote #quoteTxt {
    text-align: center;
    color: black;
}
.lineBreak {
    height: 2px;
    background-color: #006666;
}
#quote #author {
    text-align: center;
    color: black;
}