html, body {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    height: 400%;
}
.homePage {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
.homeContainer {
    margin-top: 10%;
    height: 90%;
    background-image: url(../pictures/mobileHome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #006666;
}
.homeName {
    height: 12%;
    padding: 0;
    margin: 0;
}
.homeName p {
    font-family: "Segoe UI";
    font-size: 35px;
    color: #006666;
    margin-top: 20%;
    background-color: rgba(0,0,0,.7);
    letter-spacing: 15px;
}
.homeTitle {
    height: 10%;
    padding: 0;
    margin: 0;
}
.homeTitle p {
    font-family: "Segoe UI";
    font-size: 27px;
    color: #006666;
    margin-top: 7%;
    background-color: rgba(0,0,0,.7);
    height: 100%;
}
.scrollPrompt {
    height: 15%;
    padding: 0;
    margin: 0;
}
.scrollPrompt p {
    font-family: "Segoe UI";
    font-size: 27px;
    color: white;
    margin-top: 80%;
    letter-spacing: 15px;
    width: 100%;
}
.fa-angle-down {
    font-size: 35px;
    color: white;
    width: 100%;
}
