html, body {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    height: 400%;
}
*{box-sizing: border-box;}
.skillsContainer {
    background-color: #2B2B2B;
    font-family: "Segoe UI";
    border-top: 2px solid #006666;
    border-bottom: 2px solid #006666;
    height: 50%;
}
.skillsContainer .carousel {
    background-color: #2B2B2B;
}
.skillsContainer .carousel-cell {
    background-color: #2B2B2B;
    counter-increment: carousel-cell;
    color: #2B2B2B;
}
.skillsContainer .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    color: #2B2B2B;
}
.head_u_line {
    height: 2px;
    background-color: #006666;
}
#java {
    color: white;
}
#java #jHead {
    text-align: center;
}
#java #jBody {
    font-size: 20px;
    text-align: center;
}
#javaScript {
    color: white;
}
#javaScript #jsHead {
    text-align: center;
}
#javaScript #jsBody {
    text-align: center;
    font-weight: 100;
}
#cSharp {
    color: white;
}
#cSharp #cHead {
    text-align: center;
}
#cSharp #cBody {
    text-align: center;
    font-weight: 100;
}
#swift {
    color: white;
}
#swift #sHead {
    text-align: center;
}
#swift #sBody {
    text-align: center;
    font-weight: 100;
}